:root {
    --clr-red: hsl(0, 91%, 63%);
    --clr-neon-green: hsl(127, 100%, 82%);
    --clr-orange: hsl(13, 95%, 66%);
    --clr-yellow: hsl(42, 91%, 68%);

    --clr-almost-white: hsl(252, 11%, 91%);
    --clr-grey: hsl(251, 9%, 53%);
    --clr-dark-grey: hsl(248, 10%, 15%);
    --clr-very-dark-grey: hsl(248, 15%, 11%);

    --ff-primary: "JetBrains Mono", monospace;
}
